
body{
    background-image: url(samsung.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

H2{
    text-align: center;
    line-height: 400px;
    color: white;
    position: static;
    
}




div{
    text-align: center;
}


 
.button1{
 border: 100cm;
 border-radius: 50rem 50rem;
 background: #1E88E5;
 color: white;
 background-color: tomato;
 font-family: 'Times New Roman', Times, serif;
 font-size: 1rem;
 line-break: 1.2;
 white-space: nowrap;
 text-decoration: none;
 padding: 0.55rem 5.5rem;
 margin: right 500px;
 cursor: pointer;
 


 

}


button:hover{
    transition: ease-in;
    transform: scale(1.1);
    animation-duration: 4s;
    background-color: red;
    

}




