/* selector{
    property:value
}*/


body{
    background-image: url(samsung.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


li{
    list-style: none;
    display: inline;
    
}

header{
    color: white;
}


div{
    border: solid;
    line-height: 300%;
    color: rgba(211, 195, 208, 0.685);
    border-color: white;
    border-spacing: 10cm;
    text-align: left;
    position: static;
}